/* go to UIGradient for gradient colours */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
body {
	background: white;
	backdrop-filter: blur(20px);
	/* background-color: rgba(21, 1, 28, 0.963); */
	height: 100vh;
}

.gradient-colour-1 {
	background: linear-gradient(to top left, #570254, #0c0927, #050544);
	background-size: 250% 250%;
	animation: gradient 20s ease infinite;
	overflow: hidden;
}

.gradient-patch-1 {
	background: linear-gradient(to top left, #570254, #0c0927, #050544);
}

.gradient-colour-2 {
	background: linear-gradient(to top left, #005c97, #363795, #050544);
	background-size: 250% 250%;
	animation: gradient 20s ease infinite;
	overflow: hidden;
}

.gradient-patch-2 {
	background: linear-gradient(to top left, #005c97, #363795, #050544);
}

.gradient-colour-3 {
	background: linear-gradient(to top left, #6a9113, #141517, #050544);
	background-size: 250% 250%;
	animation: gradient 20s ease infinite;
	overflow: hidden;
}

.gradient-patch-3 {
	background: linear-gradient(to top left, #6a9113, #141517, #050544);
}

.gradient-colour-4 {
	background: linear-gradient(to top left, #6441a5, #2a0845, #834100);
	background-size: 250% 250%;
	animation: gradient 20s ease infinite;
	overflow: hidden;
}

.gradient-patch-4 {
	background: linear-gradient(to top left, #6441a5, #2a0845, #834100);
}

/* keyframes for gradient animation */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1 {
	font-family: "Merriweather", serif;
	/* background-color: green; */
	color: white;
	font-size: 40px;
	/* background-color: red; */
	margin: auto;
}

#main_text {
	/* background-color: green; */
	text-align: left;

	position: absolute;
}

#change {
	color: orange;
	text-align: left;
	/* margin-left: 50vw; */
	/* position: absolute; */
	/* background-color: red; */
	margin-right: auto;
	/* position: absolute; */
}

.welcome_message {
	display: inline-block;
	margin: auto;
	width: 100%;
	margin-top: 35vh;
	padding-bottom: 10vh;
	display: flex;
	justify-content: center;
}

.radio_menu {
	display: flex;
	min-width: 300px;
	max-width: 300px;
	/* flex-flow: row wrap; */
	justify-content: space-around;
	padding-top: 15vh;
	/* margin-top: 60%; */
	/* margin-left: 42%;
	margin-right: 54%; */
	margin: auto;
	z-index: 2;
	/* background-color: green; */
}

input[type="radio"] {
	appearance: none;
	background-color: #fff;
	margin: 0;
	font: inherit;
	color: currentColor;
	transition: background-color 1s ease;
	width: 3em;
	height: 3em;
	border: 0.05em solid currentColor;
	border-radius: 50%;
	display: grid;
	place-content: center;
}

/* inside marker is called BEFORE */
input[type="radio"]::before {
	content: "";
	width: 1em;
	height: 1em;
	border-radius: 50%;
	transform: scale(0);
	color: black;
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="radio"]:checked::before {
	transform: scale(1);
	/* color: black;
	z-index: -1; */
}

/* if actual radio body is in checked state, do the bottom */

input[type="radio"]:checked {
	box-shadow: 0 0 40px 1px rgb(133, 228, 255);
	transition: box-shadow 0.5s ease;

	/* z-index: -1; */
}

.radio_button {
	/* padding: 10px; */
	margin-left: 2px;
	flex-shrink: 0;
	display: inline-block;
	z-index: 2;
	position: relative;
}

.fade-in-short {
	animation: fadeIn 1s;
}

.fade-in {
	animation: fadeIn 5s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#background-pattern {
	height: 200vh;
	width: 200vw;

	background-image: radial-gradient(
		rgba(2255, 255, 255, 0.1) 9%,
		transparent 9%
	);

	background-position: 0% 0%;
	background-size: 10vmin 10vmin;

	position: absolute;
	left: 0px;
	top: -300px;
	z-index: 1;
}

#shape-follow {
	position: absolute;
	background-color: white;
	/* transform: translate(100%, 100%); */
	transform: translate(-50%, -50%);
	height: 100px;
	width: 70px;
	border-radius: 50%;
	/* border: 2px solid black; */
	z-index: 0;
	filter: blur(50px);
	/* margin: -50px 0 0 -50px; */
}
